<!DOCTYPE html>
<html>
  <head>
    <title>Driving Directions</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAUdGTwlglQe27tBhbUDZYHhSKtJxVOZcQpVpnovDx_m4tvLpjHRTK8reEbThd4GqPyAtU95rX8gGoGg" type="text/javascript"></script>

    <script type="text/javascript"></script>

  </head>
  <body>

    <script type="text/javascript"></script>

    <%= yield %>

  </body>
</html>
